<%= simple_form_for(@product, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, required: 'required' %>
  <%= f.input :price, required: 'required' %>

  <div class="form-actions">
    <%= f.submit button_name, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>
